{% extends "base.html" %}
<head>

</head>
{% block content%}
	<body id="main_body" >
		<div id="form_container">
			<h1><a>Dodaj ulicu</a></h1>
			<form id="form_6241" class="appnitro"  method="post" action="">
						<div class="form_description">
				<p>Sva polja su obavezna.</p>
			</div>						
				<ul >
				
						<li id="li_1" >
			<label class="description" for="element_1">Naziv ulice </label>
			<div>
				<input id="element_1" name="element_1" class="element text medium" type="text" maxlength="255" value=""/> 
			</div> 
			</li>		<li id="li_3" >
			<label class="description" for="element_3">Po cemu je dobila ime </label>
			<div>
			<select class="element select medium" id="element_3" name="element_3"> 
				<option value="" selected="selected"></option>
	<option value="Ličnost" >Ličnost</option>
	<option value="Događaj" >Događaj</option>
	<option value="Datum" >Datum</option>
	<option value="Drzava" >Drzava</option>
	<option value="Grad" >Grad</option>
	<option value="Mesto" >Mesto</option>
	<option value="Reka" >Reka</option>
	<option value="Planina" >Planina</option>
	<option value="Pesma" >Pesma</option>
	<option value="Oblast" >Oblast</option>
	<option value="Zanimanje" >Zanimanje</option>
	<option value="Zivotinja" >Zivotinja</option>
	<option value="Biljka" >Biljka</option>
	<option value="Nesto drugo" >Nesto drugo</option>

			</select>
			</div> 
			</li>		<li id="li_2" >
			<label class="description" for="element_2">Opis </label>
			<div>
				<textarea id="element_2" name="element_2" class="element textarea medium"></textarea> 
			</div> 
			</li>		<li id="li_4" >
			<label class="description" for="element_4">Kategorija </label>
			<div>
			<select class="element select medium" id="element_4" name="element_4"> 
				<option value="" selected="selected"></option>
	<option value="Ulica" >Ulica</option>
	<option value="Bulevar" >Bulevar</option>
	<option value="Avenija" >Avenija</option>
	<option value="Trg" >Trg</option>

			</select>
			</div> 
			</li>
				
						<li class="buttons">
					<input type="hidden" name="form_id" value="6241" />
					
					<input id="saveForm" class="button_text" type="submit" name="submit" value="Posalji" />
			</li>
				</ul>
			</form>	
		</div>
		</body>
{% endblock %}
</html>